<footer class="footer">
  <small>
    <a href="https://sleepy-everglades-4674.herokuapp.com/">Rails forum application</a>
    by Team: SG1
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>